<html>
<head>
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href= "{% static 'css/multi.min.css' %}"/>
        <script src="{% static 'js/multi.min.js' %}"></script>
    <title>Disease Prediction</title>
<body>
<title>Disease Prediction</title>
<div class="container p-3 my-3 bg-dark text-white">
    <h1><center> Disease Prediction </center></h1>
    <h5 style="text-align:right;"><a href="log_out" >Log Out</a></h5>
</div>

<div class="container p-3 my-3 border">
    <h2><center> {{Symptoms}} </center></h2>
</div>

<div class="container p-3 my-3 bg-dark text-white">
    <h3 style="text-align:center;">Disease Predicted:- {{ Disease }}</h3>
</div>
<!--<h3> Selected Symptoms {{Symptoms}}</h3>-->
</body>
</html>
</head>